<!-- initiatives Section -->
    <section id="initiatives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Finalists</h2>
                    <!--- <h3 class="section-subheading text-muted">We have few initiatives...</h3> --->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F1098106530661232%2F&show_text=false&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                    <h4 class="service-heading">Vandana</h4>

                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=420&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F1322930804733387%2F&show_text=false&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Aparna</h4>
                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=307&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F376497313648925%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Sayuj</h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=307&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F1109954769445279%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                    <h4 class="service-heading">Chacko</h4>

                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=305&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F2839787553007123%2F&show_text=false&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Joseph</h4>
                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F204143151367735%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Sandeep</h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F324679855286367%2F&show_text=false&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                    <h4 class="service-heading">Jeethu</h4>

                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=316&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F719033685397173%2F&show_text=true&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Jayaraj </h4>
                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F1088352381607324%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Gayathri</h4>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F268339647957069%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                    <h4 class="service-heading">Rinu</h4>

                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F1335274056817161%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Parvana</h4>
                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F309077960434014%2F&show_text=true&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Shyam</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F390121735421763%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                    <h4 class="service-heading">Sujith</h4>

                </div>
                <div class="col-md-4">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=420&href=https%3A%2F%2Fwww.facebook.com%2FKairaleeKalaNilayam%2Fvideos%2F431098881635455%2F&show_text=true&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <h4 class="service-heading">Aarav</h4>
                </div>
                
            </div>
        </div>
    </section>
