    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/best-actor-stage.jpg');">
        <div class="container">
            <div class="intro-text" style="padding-top: 200px;">
                <br>
                <br>
                <br>
                <div class="intro-lead-in">SKKN Presents, </div>               
                <div class="intro-heading" style="margin-bottom: 10px;">Kairalee <br>Best Actor</div>
                <br>
                <div class="intro-lead-in" style="font-size: 25px;">Global Online Solo Acting Competition</div>
                
                <div class="intro-lead-in">Send your entries today...</div>
                <br>
                
                <a href="mailto:kairalibestactor@gmail.com" class="page-scroll btn btn-xl">Contact</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}

        <div class="intro-lead-in">09.30 AM, 8th March 2020</div>
                <div class="intro-lead-in" style="font-size: 25px;">UWCSEA East Campus</div>
 -->

