    <!-- Header -->
      
    <header style="background-image: url('{{ site.baseurl }}/img/2021/kairalee-drama-fest-2021-background.png');">

        <div class="container">
            <div class="intro-text" style="padding-top: 200px; padding-bottom: 20px;">
                
                <div class="intro-lead-in" style="font-style: normal;">SKKN Presents, </div>               
                <div class="intro-heading" style="margin-bottom: 10px;">Kairalee <br>Drama Festival</div>
                <br>
                <div class="intro-lead-in-malayalam" style="font-size: 25px; font-weight: 700;">3 Short Plays Every showing</div>

                <div class="intro-heading" style="font-size: 32px; font-weight: 700; line-height: 32px; text-transform: none;">
                    Biriyani
                    <div style="font-size: 28px; font-family: 'Manjari';font-weight: 700; line-height: 32px; color: #FFB8B8; padding-top: 15px; ">
                        "ബിരിയാണി"
                    </div>
                    
                    <div style="font-size: 26px; font-weight: 400; line-height: 32px; color: rgb(255, 255, 255);">
                        Story: Santhosh Echikkanam <br>
                        Script & Direction : D  Sudheeran
                    </div>
                </div>
                
                <div class="intro-heading" style="font-size: 32px; font-weight: 700; line-height: 32px;text-transform: none;">
                    Vilikkathe Vannaval
                    <div style="font-size: 28px; font-family: 'Manjari';font-weight: 700; line-height: 32px; color: #FFB8B8; padding-top: 15px; ">
                         "Uninvited Guest / വിളിക്കാതെ വന്നവള്‍"
                     </div>
                     <div style="font-size: 26px; font-weight: 400; line-height: 32px; color: rgb(255, 255, 255);">
                         Script: Omchery NN Pillai <br>
                         Direction: D Sudheeran/ Binoop Nair
                     </div>
                </div>
                
                <div class="intro-heading" style="font-size: 32px; font-weight: 700; line-height: 32px;text-transform: none;">
                    Ntuppuppaakko raanendarnnu
                    <div style="font-size: 28px; font-family: 'Manjari';font-weight: 700; line-height: 32px; color: #FFB8B8; padding-top: 15px; ">
                        "My Grandfather had an Elephant / ന്റുപ്പൂപ്പാക്കൊരാനേണ്ടാര്‍ന്ന്"
                    </div>
                    <div style="font-size: 26px; font-weight: 400; line-height: 32px; color: rgb(255, 255, 255);">
                        Story: Vaikom Muhammad Basheer <br>
                        Script& Direction: MKV Rajesh
                    </div>
                </div>

                <br><br>
                <a href="mailto:kairalibestactor@gmail.com" class="page-scroll btn btn-xl" style="color: #000;">Contact</a>
                <div class="intro-heading" style="font-size: 16px; font-weight: 400; line-height: 32px;padding-top: 50px;">
                    +65 97366173 / +65 82339012 <br>
                    Contact for more details, ticker and sponsorships.
                </div>
            </div>
        </div>
    </header>