    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="text-shadow: 3px 3px 4px #000000;">Welcome To The Pioneer</div>
                <div class="intro-heading" style="text-shadow: 3px 3px 4px #000000;">Indian Art House</div>
                <div class="intro-lead-in" style="text-shadow: 3px 3px 4px #000000;">of Singapore</div>
                <a href="#about" class="page-scroll btn btn-xl">Read More...</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

