    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/2021/kairalee-drama-fest-2021-background.png');">
        <div class="container">
            <div class="intro-text" style="padding-top: 200px; padding-bottom: 50px;">
                <div class="intro-lead-in" style="font-style: normal;">SKKN Presents, </div>                 
                <div class="intro-heading" style="margin-bottom: 10px;">Kairalee <br>Drama Festival</div>
                <br><br><br>
                <div class="intro-lead-in-malayalam" style="font-size: 25px; font-weight: 700;">3 Short Plays Every showing</div>

                <br><br>
                <a href="drama-fest-2021" class="page-scroll btn btn-xl" style="color: #000;">Read More</a>
        
            </div>
        </div>
    </header>
