    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/auditorium.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">SKKN Presents, </div>               
                <div class="intro-heading">Women of Tomorrow</div>
                <div class="intro-lead-in" style="font-size=20px;">where dreams take wings</div>
                <div class="intro-lead-in">09.30 AM, March 8th @ UWCSEA East Campus</div>
                <div class="intro-lead-in">Stay Tuned...</div>
                <a href="mailto:womenswing@kairaleekalanilayam.com" class="page-scroll btn btn-xl">Contact</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

